

/* #   Homepage-grid 		*/

.homepage-grid img {
  min-height: 30vh;
  object-fit:cover;
}

.homepage-grid .entry-content {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 4rem);
}

.homepage-grid .entry-content figure:nth-child(1) {
	grid-column: 3 / 8;
	grid-row: 1 / 5;
	z-index: 2;
	transform: rotate(-3deg);
}

.homepage-grid .entry-content figure:nth-child(2) {
	grid-column: 7 / 11;
	grid-row: 3 / 10;
	transform: rotate(6deg);
}

.homepage-grid .entry-content figure:nth-child(3) {
	grid-column: 2 / 7;
}

//  Effets supplémentaires

.homepage-grid .entry-content img {
	border: 8px solid rgb(255, 255, 255);
	-webkit-box-shadow: 3px 3px 13px 0px rgba(140, 136, 140, 1);
	-moz-box-shadow: 3px 3px 13px 0px rgba(140, 136, 140, 1);
	box-shadow: 3px 3px 13px 0px rgba(140, 136, 140, 1);

}

.homepage-grid .entry-content figure:nth-child(2) {
	transition-duration: 0.3s;
}

.homepage-grid .entry-content figure:nth-child(2):hover {
	z-index: 4;
	transform: rotate(3deg) scale(1.1, 1.1);
	transition-duration: 0.3s;
}

.homepage-grid .entry-content figure:nth-child(3) {
	transition-duration: 0.3s;
	transform: rotate(-1deg);
}

.homepage-grid .entry-content figure:nth-child(3):hover {
	z-index: 4;
	transform:  rotate(-1deg)  scale(1.2, 1.2);
	transition-duration: 0.3s;
}
