
/*  Images and captions    */
/* *********************** */

.wp-block-image {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	padding-bottom: 3em;
}

p.attachment>* {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	padding-bottom: 3em;
}

.wp-block-image figcaption {
	text-align: center;
}