
/* #  Images and captions    */

.wp-block-image {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

p.attachment>* {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.wp-block-image figcaption {
	text-align: center;
}